<div class="container">
  <h2><%= title %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <% columns.each do |column| %>
          <th scope="col">
            <%= column.capitalize %>
          </th>
        <% end %>
        <th scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr>
          <% columns.each do |column| %>
            <th>
              <%= item.send(column) %>
            </th>
          <% end %>
          <th>
            <%= render Button::LinkComponent.new("Edit", edit_polymorphic_path(item)) %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
