<div class="dropdown">
  <a <%= tag.attributes attributes %>>
    <%= text %>
  </a>
    <ul class="dropdown-menu" aria-labelledby="<%= aria_labelledby %>">
      <% items.each do |item| %>
        <li><%= render item %></li>
      <% end %>
    </ul>
  </div>
