<div id="<%= dom_id act %>">
  <p>
    <strong>Name:</strong>
    <%= act.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= act.active %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= act.description %>
  </p>

</div>
