<% content_for :title, "Editing act" %>

<h1>Editing act</h1>
<p>This act is used in Task <%= link_to @task.name, @task %></p>
<%= render Act::FormComponent.new(@act, @task) %>

<br>

<div>
  <%= link_to "Show this act", @act %> |
  <%= link_to "Back to acts", acts_path %>
</div>
